<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADEFallApp"
        tools:targetApi="31">
        <activity
            android:name=".Lecture170124.ServiceWorkingActivity"
            android:exported="false" />
        <activity
            android:name=".Lecture080124.FirestoreActivity"
            android:exported="false" />
        <activity
            android:name=".Lecture291223.RoomWorkingActivity"
            android:exported="false" />
        <activity
            android:name=".Lecture061223.RecylcerActivity"
            android:exported="false" />
        <activity
            android:name=".Lecture271123.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".Lecture221123.Lecture221123Activity"
            android:exported="false" />
        <activity
            android:name=".Lecture081123.Lecture081123Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Lecture170124.MyService"/>
    </application>

</manifest>